
@{
    ViewData["Title"] = "Index";
}

<style>
    .clearable {
        position: relative;
    }

        .clearable input {
            padding-right: 30px; /* Space for the clear button */
        }

        .clearable .clear-button {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
        }
</style>
<div class="container">
    <div class="col-md-12">
        <h3 class="display-4 text-center text-primary">Student Details</h3>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <form method="post">
                <label for="PRN">PRN:</label>
                <div class="clearable">
                    <input type="text" class="form-control" id="searchprn">
                    <span class="clear-button" onclick="ClearValues()">✕</span>
                </div>
            </form>
        </div>
       @* <div class="form-group col-md-3">
            <label></label>
            <button class="btn btn-danger" id="clearvalues" >Clear</button>
        </div>*@
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label for="StudentName">Student full Name:</label>
            <input type="text" class="form-control" id="studentname" />
        </div>
        <div class="form-group col-md-3">
            <label for="ClassName">Student Address:</label>
            <input type="text" class="form-control" id="studentaddress" />
        </div>
        <div class="form-group col-md-3">
            <label for="ClassName">Parent contact 1:</label>
            <input type="text" class="form-control" id="parentcontact1" />
        </div>
        <div class="form-group col-md-3">
            <label for="ClassName">Parent contact 2:</label>
            <input type="text" class="form-control" id="parentcontact2" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label for="ClassName">Student EmailID:</label>
            <input type="text" class="form-control" id="studentemailID" />
        </div>
        <div class="form-group col-md-3">
            <label for="ClassName">Class Name:</label>
            @*<input type="text" class="form-control" id="classname" />*@
            <select id="classname" class="form-control"></select>
        </div>
        <div class="form-group col-md-3">
            <label for="StudentName">Exam Type:</label>
            @*<input type="text" class="form-control" id="examtype" />*@
            <select id="examtype" class="form-control"></select>
        </div>
        <div class="form-group col-md-3">
            <label for="StudentName">Roll No:</label>
            <input type="text" class="form-control" id="rollno" />
        </div>
    </div>
    <fieldset>
        <legend>Student Marks</legend>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="StudentName">Subject:</label>
                <input type="text" class="form-control" id="subject" />
            </div>
            <div class="form-group col-md-4">
                <label for="StudentName">Total Marks:</label>
                <input type="text" class="form-control" id="totalmarks" />
            </div>
            <div class="form-group col-md-4">
                <label for="StudentName">Obtained Marks:</label>
                <input type="text" class="form-control" id="obtainedmarks" />
            </div>
        </div>
    </fieldset>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
@section Scripts{
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/js/student.js"></script>
}

